section {
    padding: 60px 0;
}

#tabs{
	background: #323333;
    color: #eee;
}
#tabs h6.section-title{
    color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #06d2f7;
    background-color: #06d3f7a2;
    border-color: transparent #f3f3f3;
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: 500;
    transition: all .4s ease-in-out;
}
#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #eee;
    font-size: 20px;
}